<!doctype html>
<html lang="en" ng-app="LunchCheck">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body>
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>

         <div class="form-group">
            <div class="{{listClass}}">
               <input id="lunch-menu" type="text"
               placeholder="list comma separated dishes you usually have for lunch"
               autocomplete="off"
               class="form-control"
               ng-model="list"
               ng-keyup="resetMessage();">
             </div>
             <p class="help-block">We do NOT consider and empty item, i.e., <code>, ,</code> as an item towards to the count</p>
         </div>
         <div class="form-group">
             <button class="btn btn-default"
                     ng-click="checkToMuch();">Check If Too Much</button>
         </div>
         <div class="form-group message {{messageClass}}" ng-class="">
           {{ message }}
         </div>
   </div>
   <script defer src="javascript/vendor/angular.min.js"></script>
   <script defer src="javascript/app.js" charset="utf-8"></script>
</body>
</html>
